# Ignore Python virtual environments
venv/

# Ignore environment variable files
.env

# Ignore compiled Python files
__pycache__/

# Ignore VSCode settings (optional)
.vscode/

# Ignore macOS metadata
.DS_Store

# Installers & build outputs
dist/
build/
packaging/windows/Output/
*.egg-info/

# Build artifacts
/dist/
.build_ext4_work/
*.ext4
*.exe

# Build artifacts
/dist/
.build_ext4_work/
*.ext4
*.exe

# Build artifacts
/dist/
.build_ext4_work/
*.ext4
*.exe
