# Ignore Python virtual environments
venv/

# Ignore environment variable files
.env

# Ignore compiled Python files
__pycache__/

# Ignore VSCode settings (optional)
.vscode/

# Ignore macOS metadata
.DS_Store

# Installers & build outputs
dist/
build/
packaging/windows/Output/
*.egg-info/
